modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyCuQVMzWcAwU9_iOKqeEb0U9PmdiI5dwno"
EXPO_PUBLIC_FIREBASE_DATABASE_URL = "https://loding-fast-default-rtdb.firebaseio.com/"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "loding-fast"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:129072880230:web:4f20bbbee1588d1507eba7"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "loding-fast.firebaseapp.com"
PHONE_NUMBER_ID = "1051895501342348"
WABA_ID = "2339912196485258"
WHATSAPP_ACCESS_TOKEN = "EAF7xagEZBnAoBRGiOFY5JikjZB52DMjjw36th9GwzUP5B2ZC5NYLLC1C24zM43yxHfmpgBsbuzn7k7kDZCOGSkMaKAekoVUKNbp2sdnFJA6KYLGLKxfJ1iGThmfBfA9626TbItJerRA2YWdNiGVrCAQdOODQXOtKs3Id6bSCKwFrB9vdTRQEqxURmgd891hR04DIzh1kban6PrJZBtd7WjjZBwPbzmhgAnQ5uUIqDRTc45HSgyISu1f9CXekwQTMm3RldrZCMmMk4mVMBSzR3xZB5OJ6"
